html, body {
    margin: 20px;
    
}

.avatar{
    width: 150px;
    display: flex;
    
    
    
}

.card{
    width: 400px;
    padding: 20px;
    displaY: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid #d8cefe;
    background: #ddebf8;
    color: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    
}
